@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.page-header {
    margin: 0px;
    height: 117px;
    background-color: #148C48;
    background-image: linear-gradient(315deg, #2c4134 0%, #219e57 74%);

}

.page-header .logo {
    float: left;
    margin-left: 1.5%;
    margin-top: 25px;
}

.page-header .logo a {
    background-image: url(images/logo-title.png);
    background-repeat: no-repeat;
    background-position: left center;
    min-width: 855px;
    min-height: 67px;
    display: block;
    text-indent: -1000px;
}

.header-building {
    background-image: url(images/header-building.png);
    height: 117px;
    min-width: 376px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.bg-color {
    background-color: #148C48;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.navbar .dropdown .dropdown-menu {
    background-color: #148C48;
    border-radius: 5px;
}

.navbar .nav-link:hover {
    background-color: #0C592E;
    border-radius: 5px;
}

.dropdown-item:hover {
    background-color: #0C592E;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: #0C592E;
    border-color: #0C592E;
}

.carousel-control-prev-icon {
    background-image: url(images/prev-next.png);
    transform: scaleX(-1);
}

.carousel-control-next-icon {
    background-image: url(images/prev-next.png);
}

.bg-gray {
    background-color: #E2E2E2 !important;
}

.text-main {
    color: #148C48;
}

.button {
    background-color: #148C48;
    color: #ffffff;
    border: none;
}

.button:hover {
    background-color: #0C592E;
}

.icon-section i {
    font-size: 60px;
    width: 75px;
}

.section-detail {
    min-height: 62px;
}

.section-detail a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.section-detail h3 {
    margin: 0px;
}

.section-detail h3 a {
    font-size: 1.75rem;
}

.section-detail a:hover {
    color: #0C592E;

}

.parallax {
    background-image: url(images/facts-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.facts .title {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.fc9 {
    background-image: url(images/fc9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fc6 {
    background-image: url(images/fc6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fc8 {
    background-image: url(images/fc8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fc10 {
    background-image: url(images/fc10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fc7 {
    background-image: url(images/fc7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.heading1,
.main-content .bold-hdd,
.main-content h2,
h2 {
    color: #000000;
    border-bottom: 1px solid #dadada;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
}

.heading1::after,
.bold-hdd::after,
.main-content h2::after,
h2::after {
    border-color: #0C592E !important;
}


.heading1::after,
.bold-hdd:after,
.main-content h2:after,
h2::after {
    content: ' ';
    width: 83px;
    border-bottom: 2px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px;
}

footer li {
    position: relative;
}

footer img {
    width: 150px;
    height: auto;
}

.col-f-4 p {
    padding-left: 25px;
    position: relative;
}

.col-f-4 i {
    position: absolute;
    left: -9px;
    top: 5px;
}


.social ul {
    list-style-type: none;
}

.social li {
    display: inline-block;
    font-size: 36px;
}

.social li:before {
    content: "";
}

.copyright {
    color: #CCC;
    margin-top: 20px;
    text-align: center !important;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ffffff;
    padding-top: 20px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #0C592E;
}

.justify {
    text-justify: inter-word;
}

.img {
    width: 50%;
    height: auto;
}


